@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model CRUDenASPMVC.Web.Models.Entities.Estudiante

<h1>Editar Estudiante</h1>

@if (Model is null){
    <p>No fue encontrado un estudiante con este Id</p>
}

else
{
<form method="post">
    <div class="mt-3">
        <label class="form-label"> Id </label>
        <input type="text" class="form-control" asp-for="Id" readonly />
    </div>

    <div class="mt-3">
        <label class="form-label"> Nombre </label>
        <input type="text" class="form-control" asp-for="Nombre" />
    </div>

    <div class="mt-3">
        <label class="form-label"> Email </label>
        <input type="email" class="form-control" asp-for="Email" />
    </div>

    <div class="mt-3">
        <label class="form-label"> Teléfono </label>
        <input type="text" class="form-control" asp-for="Telefono" />
    </div>

    <div class="mt-3">
        <input type="checkbox" class="form-check-input" id="Suscrito" asp-for="Suscrito" />
        <label class="form-check-label" for="Suscrito"> Suscrito </label>
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>

            <button type="submit" class="btn btn-danger ms-3"
            asp-action="Borrar"
            asp-controller="Estudiantes">Borrar</button>
    </div>
</form>
}
